@model MVC_Demo.Models.Doctors

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h2 class="page-title">Create Doctor</h2>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","DashBoard")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Doctor")">Doctor</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin:10px 0 0 0">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Doctor Info</h4>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Doctor_Name, "Doctor Name", htmlAttributes: new { @class = "col-sm-3 text-end control-label col-form-label" })
                            <div class="col-sm-5">
                                @Html.EditorFor(model => model.Doctor_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Doctor_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.DeptId, "Department", htmlAttributes: new { @class = "col-sm-3 text-end control-label col-form-label" })
                            <div class="col-sm-5">
                                @Html.EditorFor(model => model.DeptId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DeptId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <br />
                    <div class="form-group row align-content-between">
                        <div class="card-body text-center">
                            <button id="save" type="submit" class=" col-sm-2 btn btn-info btn-rounded" style="margin:0px 20px 0px 0px">Save</button>
                            <button type="reset" class=" col-sm-2 btn btn-secondary btn-rounded " style="margin:0px 20px 0px 0px">Clear</button>
                            <a class="col-sm-2  btn btn-warning btn-rounded " href="@Url.Action("Index", "Doctor")" style="color:black">Go Back</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
}
<script>

    function save() {
        toastr.success('abc has been created', 'Doctor Details for');
        setTimeout(nav, 2000);
    }

    function nav() {
        window.location.href = '@Url.Action("Index", "Doctor")';
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}