@model MVC_Demo.Models.Lab_Information


<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h2 class="page-title">Edit Lab Details</h2>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","DashBoard")">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Lab")">Lab</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Edit</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin:10px 0 0 0">
        <div class="col-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">
                        <h4 class="card-title">Lab Info</h4>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.LabTestName, "Test Name", htmlAttributes: new { @class = "col-sm-3 text-end control-label col-form-label" })
                            <div class="col-sm-5">
                                @Html.EditorFor(model => model.LabTestName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LabTestName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Price, "Price", htmlAttributes: new { @class = "col-sm-3 text-end control-label col-form-label" })
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon1">₹</span>
                                    </div>
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control aria-describedby = " + "basic - addon2" } })

                                </div>
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group row align-content-between">
                        <div class="card-body text-center">
                            <button id="save" type="submit" class=" col-sm-2 btn btn-info btn-rounded" style="margin:0px 20px 0px 0px">Save</button>
                            <a class="col-sm-2  btn btn-warning btn-rounded " href="@Url.Action("Index", "Lab")" style="color:black">Go Back</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
}


<script src="@Url.Content("~/Content/assets/libs/jquery/dist/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>

<script>


    function save() {
        toastr.success('abc has been updated', 'Lab Details for');
        setTimeout(nav, 1000);
    }

    function nav() {
        window.location.href = '@Url.Action("Index", "Lab")';
    }
</script>