@model IEnumerable<MVC_Demo.Models.Lab_Information>

<div class="container" id="blur">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title">Lab</h2>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","DashBoard")">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Lab</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="card" style="margin:10px 0 0 0">
        <div class="card-body" style="margin: 0 0 0 50px">
            <a class="  btn btn-warning btn-rounded " href="@Url.Action("Create","Lab")" style="color:black">Add New Lab</a>
        </div>
    </div>

    <div class="card" style="margin:10px 0 0 0">
        <div class="card-body">
            <h5 class="card-title">Data Base</h5>
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th><span class="font-bold">@Html.DisplayNameFor(model => model.Lab_Id)     </span></th>
                            <th><span class="font-bold">@Html.DisplayNameFor(model => model.LabTestName)</span></th>
                            <th><span class="font-bold">@Html.DisplayNameFor(model => model.Price)      </span></th>

                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lab_Id)
                                </td>
                                <td>
                                 <a href="@Url.Action("Details","Lab",new {id=item.Lab_Id })">   @Html.DisplayFor(modelItem => item.LabTestName)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>

                                <td>
                                    <a class="btn-rounded sidebar-link waves-effect waves-dark sidebar-link" onclick="toggle()" aria-expanded="false" style="color:red">
                                        <i class="mdi mdi-delete " style="font-size:20px"></i>
                                    </a>
                                    <a class="btn-rounded sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false" href=@Url.Action("Edit","Lab",new {id=item.Lab_Id })>
                                        <i class="mdi mdi-pencil" style="font-size:20px"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<div id="popup">
    <h3>Are you sure, you want to delete Lab?</h3>
    <div style="position: relative; display: flex; justify-content: space-around; align-items: stretch; padding: 40px 0 0 0">
        <a style="width:100px" class="btn btn-danger btn-rounded text-white" href="#" onclick="deletep()">Yes</a>
        <a style="width:100px" class="btn btn-info btn-rounded " href="#" onclick="toggle()">No</a>
    </div>
</div>
<script>
    function deletep() {
            save();
            toggle();
    }
    function toggle() {
        var blur = document.getElementById('blur');
        blur.classList.toggle('active');
        var popup = document.getElementById('popup');
        popup.classList.toggle('active');
    }

    function save() {
        toastr.error('has been deleted', 'Lab Details');
        setTimeout(nav, 2000);
    }
    function nav() {
        window.location.href = '@Url.Action("Index", "Lab")';
    }
</script>
